{% extends "base.html" %}
{% load blog %}

{% block extra_metatags %}
<meta name="keywords" content="{{e.author.get_profile}},{{e.get_profile.rol}}"/>
<meta name="description" content="{{e.get_profile.description}}" />
{%endblock%}

{% block title %}The Church of Horrors :: {{author.get_profile}}{%endblock%}

{% block author %}{% mini_author author %}{% endblock %}

{%block breadcrumb%}{% breadcrumb request.get_full_path section subsection %}{%endblock%}

{%block content_class%}home{%endblock%}

{%block content%}
    {% include "short-entries.html" %}
{%endblock%}
