{% extends "base.html" %}
{% load blog cache %}

{% cache 24*60*60 %}

{% block extra_metatags %}
<meta name="keywords" content="{{authors|join:","}}"/>
<meta name="description" content="Sitios" />
{%endblock%}

{%block extra_js%}
<script type="text/javascript" src="{{STATIC_URL}}thechurch/js/jquery.dotdotdot.min.js"></script>
{%endblock%}

{%block extra_js_ready%}
$(".author .desc").dotdotdot();
{%endblock%}

{% block title %}The Church of Horrors :: Sitios{%endblock%}

{%block breadcrumb%}{% breadcrumb request.get_full_path %}{%endblock%}

{%block content_class%}home authors{%endblock%}

{%block content%}

	{% for subauthors in authors%}
		<div class="col">
		{% for author in subauthors%}
	    	<div class="author">

	    		<div class="title">{%if author.title%}<a href="{{author.get_absolute_url}}">{{author.title|upper}}</a>{%endif%}</div>
	    
		        <a href="{{author.get_absolute_url}}">
		        	<div class="img">
		        		<img src="{{author.avatar.url}}" alt='{{author}}' class="adjust"/>
		        	</div>
		        </a>

		        <div class="name"><a href="{{author.get_absolute_url}}">{{author}}</a></div>
			    
			    <div class="desc">{{author.description|safe}}</div>
			    <div class="links sitios">
			        <a href="{{author.get_absolute_url}}" title="Ir a Sitio" style="float:left">Ir a Sitio</a>
			    </div>

			    {%if author.get_items or author.attach%}
			    <div class="links">
				    {%for link in author.get_items%}
		            <a href="{{link.url}}" class="{{link.icon}}" target="_blank" title="{{link|lower}}"></a>
			        {%endfor%}
			        {%if author.attach%}
			        <a href="{{MEDIA_URL}}{{author.attach}}" class="doc" target="_blank" title="ver/descargar documento adjunto"></a>
			        {%endif%}
			    </div>
			    {%endif%}
			</div>

	    {%endfor%}
		</div>
	{%endfor%}
{%endblock%}

{%endcache%}