<div id="breadcrumb">

	{% if number%}
	<div class="item"><a href="{{number.get_absolute_url}}" title="Ir a NÚMERO {{number.number}} {{number.get_month_display}} {{number.year}}"><strong>NÚMERO {{number.number}}</strong> {{number.get_month_display}} {{number.year}}</a></div>
	<div class="arrow"></div>
	{%endif%}

	{% if subsection%}
	<div class="prearrow"></div>
	<div class="item"><a href="{% url subsection number.number number.year number.month  subsection.slug %}" title="Ir a {{subsection}}">{{subsection}}</a></div>
	<div class="arrow"></div>
	{%endif%}


	{% for u in urls%}
		{%if not forloop.first%}<div class="prearrow"></div>{%endif%}
	<div class="item"><a href="{{u.0}}" title="Ir a {{u.1}}">
		{%if forloop.first%}<strong>{{u.1}}</strong>{%else%}{{u.1}}{%endif%}
	</a></div>
	<div class="arrow"></div>
	{%endfor%}

</div>
