{% extends "base.html" %}
{% load blog %}

{% block title %}The Church of Horrors :: Contacto{%endblock%}

{%block breadcrumb%}{% breadcrumb request.get_full_path %}{%endblock%}

{%block content_class%}contact{%endblock%}

{% block extra_js_ready %}
setTimeout(function(){window.location='/';},5000);
{%endblock%}

{%block content%}
<div id="waitmask"></div>
<div>
Su mensaje ha sido enviado, en breve nos pondremos en contacto con usted.<br/><br/>
Volviendo a <a href='/'>HOME</a>...
</div>

<hr/>
{%endblock%}
