{% extends "base.html %}

{% block content %}
        <hr/>
        <div class="long-entry">
            <div class="img"><img src="example/home-long-entry.png" class="adjust"/></div>
            <div class="desc">
            <span class="title"><a href="#">Balablab</a></span>
            <span class="info">Por <a href="#">Miguel A. Vazquez</a>, <em>8 Junio 2011</em>, en <a href="#">Arte.</a></span>
            <p>Lorem ipsum dolor sit amet, vel purus mauris est, penatibus maecenas ac nec, quisque vehicula, at in suspendisse in non gravida eget. Tortor neque et quis, amet integer. Magna tincidunt dolor, pede bibendum orci natus molestie, fusce in arcu. Eget egestas ultrices. Sodales orci tortor integer quis eros vel, lobortis dui ante vitae etiam elit, eget amet montes in tristique, id eleifend, qui aliquam nullam hendrerit.</p>
            
            <a href="#" class="read">Leer</a>
            <a href="#" class="comments">5 Comentarios</a>
            </div>
        </div>
        <hr/>
        <div class="long-entry">
            <div class="img"><img src="example/home-long-entry.png" class="adjust"/></div>
            <div class="desc">
            <span class="title"><a href="#">Balablab</a></span>
            <span class="info">Por <a href="#">Miguel A. Vazquez</a>, <em>8 Junio 2011</em>, en <a href="#">Arte.</a></span>
            <p>Lorem ipsum dolor sit amet, vel purus mauris est, penatibus maecenas ac nec, quisque vehicula, at in suspendisse in non gravida eget. Tortor neque et quis, amet integer. Magna tincidunt dolor, pede bibendum orci natus molestie, fusce in arcu. Eget egestas ultrices. Sodales orci tortor integer quis eros vel, lobortis dui ante vitae etiam elit, eget amet montes in tristique, id eleifend, qui aliquam nullam hendrerit.</p>
            
            <a href="#" class="read">Leer</a>
            <a href="#" class="comments">5 Comentarios</a>
            </div>
        </div>
        
        <hr/>
        <div class="short-entries">
            <div class="short-entry odd">
                <div class="img"><img src="example/home-long-entry.png" class="adjust"/></div>
                <div class="desc">
                <span class="title"><a href="#">Balablab</a></span>
                <span class="info">Por <a href="#">Miguel A. Vazquez</a>, <em>8 Junio 2011</em>, en <a href="#">Arte.</a></span>
                <p>Lorem ipsum dolor sit amet, vel purus mauris est, penatibus maecenas ac nec, quisque vehicula, at in suspendisse in non gravida eget. Tortor neque et quis, amet integer. Magna tincidunt dolor, pede bibendum orci natus molestie, fusce in arcu. Eget egestas ultrices. Sodales orci tortor integer quis eros vel, lobortis dui ante vitae etiam elit, eget amet montes in tristique, id eleifend, qui aliquam nullam hendrerit.</p>
                
                <a href="#" class="read">Leer</a>
                <a href="#" class="comments">5 Comentarios</a>
                </div>
                <hr/>
            </div>
            <div class="short-entry">
                <div class="img"><img src="example/home-long-entry.png" class="adjust"/></div>
                <div class="desc">
                <span class="title"><a href="#">Balablab</a></span>
                <span class="info">Por <a href="#">Miguel A. Vazquez</a>, <em>8 Junio 2011</em>, en <a href="#">Arte.</a></span>
                <p>Lorem ipsum dolor sit amet, vel purus mauris est, penatibus maecenas ac nec, quisque vehicula, at in suspendisse in non gravida eget. Tortor neque et quis, amet integer. Magna tincidunt dolor, pede bibendum orci natus molestie, fusce in arcu. Eget egestas ultrices. Sodales orci tortor integer quis eros vel, lobortis dui ante vitae etiam elit, eget amet montes in tristique, id eleifend, qui aliquam nullam hendrerit.</p>
                
                <a href="#" class="read">Leer</a>
                <a href="#" class="comments">5 Comentarios</a>
                </div>
                <hr/>
            </div>
            <div class="short-entry odd">
                <div class="img"><img src="example/home-long-entry.png" class="adjust"/></div>
                <div class="desc">
                <span class="title"><a href="#">Balablab</a></span>
                <span class="info">Por <a href="#">Miguel A. Vazquez</a>, <em>8 Junio 2011</em>, en <a href="#">Arte.</a></span>
                <p>Lorem ipsum dolor sit amet, vel purus mauris est, penatibus maecenas ac nec, quisque vehicula, at in suspendisse in non gravida eget. Tortor neque et quis, amet integer. Magna tincidunt dolor, pede bibendum orci natus molestie, fusce in arcu. Eget egestas ultrices. Sodales orci tortor integer quis eros vel, lobortis dui ante vitae etiam elit, eget amet montes in tristique, id eleifend, qui aliquam nullam hendrerit.</p>
                
                <a href="#" class="read">Leer</a>
                <a href="#" class="comments">5 Comentarios</a>
                </div>
                <hr/>
            </div>
        </div>
{%endblock%}
