{% extends "base.html" %}
{% load blog fb_versions %}

{% block extra_metatags %}
<meta name="keywords" content="{{entry.tags.all|join:","}}"/>
<meta name="description" content="{{entry.get_brief|remove_linebreaks}}" />
<meta property="og:image" content="{{entry.get_main_image}}" />
<meta itemprop="name" content="{{entry.title}}">
<meta itemprop="description" content="{{entry.get_brief|remove_linebreaks}}">
{%endblock%}

{% block title %}The Church of Horrors :: {{entry}}{%endblock%}

{% block sidebar %}
    {% mini_author entry.author %}

    <div class="tabs">
        <div class="tab current" onclick="changetab(this,'more-view')">+ Leídos</div>
        <div class="tab" onclick="changetab(this,'more-comment')">+ Comentados</div>
        <div class="tab">&nbsp;</div>

        <div class="content" id="more-view">
            {%for entry in number.get_more_view|slice:":5"%}
                {%include "micro-entry.html" %}
            {%endfor%}
        </div>

        <div class="content" id="more-comment">
            {%for entry in number.get_more_comment|slice:":5"%}
                {%include "micro-entry.html" %}
            {%endfor%}
        </div>
    </div>

    <div class="cartoon">
        {%with number.cartoon as cartoon%}
        <a href="{{cartoon.get_absolute_url}}" title="{{cartoon}}">
            <img src="{{ cartoon.get_main_image }}" alt="{{cartoon.title}}"/>
        </a>
        {%endwith%}
    </div>

{% endblock %}

{%block breadcrumb%}{% breadcrumb request.get_full_path number subsection entry %}{%endblock%}

{%block content_class%}entry{%endblock%}

{%block extra_js%}
<script type="text/javascript">

function isUrl(s) {
	var regexp = /(^|\s)((https?:\/\/)?[\w-]+(\.[\w-]+)+\.?(:\d+)?(\/\S*)?)/gi;
	return regexp.test(s);
}

function echeck(email) {
	var regexp  = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
	
	return (regexp.test(email));				
}

function validate() {
    
    $('.error').removeClass('error');
    
    var ok = true;
    
    if (!echeck($('input[name=email]').val())) {
        $('input[name=email]').addClass("error");
        ok=false;
    }
    
    if ($('input[name=website]').val()) {
        if (!isUrl($('input[name=website]').val())) {
            $('input[name=website]').addClass("error");
            ok=false;
        }
    }

    if (!$('input[name=author]').val()) {
        $('input[name=author]').addClass("error");
        ok=false;
    }

    
    if (!$('textarea').val()) {
        $('textarea').addClass("error");
        ok=false;
    }
    
    return ok;
}
</script>

<!--<script type="text/javascript" src='{{STATIC_URL}}thechurch/js/jquery.scrollTo-min.js'></script>-->
{%comment%}
<script type="text/javascript">
$(document).ready(function(){
    
    var wrapper = $($('.content-entry')[0]);
    var content = wrapper.find('table');
    var html = wrapper.html();
    wrapper.html('');

    {% if not entry.show_gallery%}
    wrapper.prev().append('<div style="width:100%;height:auto;margin-top:22px;text-align:center;">'+html.substring(0,html.indexOf('<table'))+"</div>");
    {%endif%}
    
    var pages = content.length;
    for (var i=0;i<pages;i++) {
            wrapper.append('<div class="paging-container"><table>'+content[i].innerHTML+'</table></div>');
        }
    
    var width = 730;

        for (var i=0;i<pages;i++) {
            var css = (!i)?"class='current'":"";
            $('#paging').append("<span "+css+" onclick='paging(this,"+(i*width)+");'>"+(i+1)+"</span>");
        }
});
function paging(link,margin) {
    
    if ($(link).hasClass('current'))
        return;
    
    //$(document).scrollTo("#content",{easing:"swing",duration:"slow"});
    $($(".content-entry")[0]).animate({"margin-left":"-"+margin+"px"},'slow','swing');
    $('#paging .current').removeClass("current");
    $(link).addClass("current");
}
</script>
{%endcomment%}
{%endblock%}

{%block content%}
    {#<img src="{% version entry.get_main_image 'gallery' %}" title="{{entry}}" alt="{{entry.title}}" class="image-entry"/>#}

    <div class="content-entry">

        {%if user.is_superuser or user.get_profile.is_editor or entry.author.id == request.user.id %}<a href="{{entry.get_admin_url}}" onclick="window.open(this.href);return false;" class="edit">Editar</a>{%endif%}

        <a href="{{e.get_absolute_url}}"><h1>{{entry.title}}</h1></a>

        {{entry.content|url_open|safe}}
    </div>

    <div id="paging"></div>
    
    <div id="share">
        <div>        
            <iframe src="//www.facebook.com/plugins/like.php?href={{request.build_absolute_uri}}&amp;send=false&amp;layout=button_count&amp;width=130&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:130px; height:21px;" allowTransparency="true"></iframe>
        </div>
        <div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="ChurchOfHorrors" data-lang="es">Twittear</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div>
            <g:plusone size="medium"></g:plusone>
                        
            <script type="text/javascript">
              window.___gcfg = {lang: 'es'};

              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
        </div>
    </div>
    
    {% with entry.get_related as related %}
        {% if related %}
            <div id="related">
                <div class="section">Relacionado</div>
                {% for e in related %}
                    {% preview_entry e forloop.counter 6%}
                {% endfor %}
            </div>
        {%endif%}
    {%endwith%}
    
    <div id="comments">
        <span class="title">Comentarios</span>
        {% for c in entry.get_comments %}
            {%if c.approved %}
            <div class="comment">
                <div class="author"><span>[{{c.time|date:"d b Y H:i"}}]</span> <strong>{{c.author}}</strong> {%if c.website%}&lt;<a href="{{c.website}}" target="_blank">{{c.website}}</a>&gt;{%endif%} escribió:</div>
                <div class="content">{{c.content|linebreaksbr}}</div>
            </div>
            {%else%}
            <div class="comment">
                <div class="author"><span>[{{c.time|date:"d b Y H:i"}}]</span> <strong>{{c.author}}</strong> escribió:</div>
                <div class="content noapproved">(Contenido pendiente de ser aprobado)</div>
            </div>
            {%endif%}
        {%endfor%}

        <form action=".#comments" method="post">
            <input name="author" type="text" value="{{author}}"/>Nombre <span>(*)</span><br/>
            <input name="email" type="text" value="{{email}}"/>Email <span>(*) (No será publicado)</span><br/>
            <input name="website" type="text" value="{{website}}"/>Website<br/>
            <textarea name="content">{{content}}</textarea>
            {{form.recaptcha}}
            {% if not form.non_field_errors%}{{form.recaptcha.errors}}{%endif%}
            {#Introduce lo que ves en la imagen <span>(*)</span><br/>#}
            <big>{{ form.non_field_errors}}</big>
            {%csrf_token%}
            <input type="submit" value="PUBLICAR" onclick="return validate();">
        </form>

    </div>
{%endblock%}
