{% extends "base.html" %}
{% load blog %}

{% block extra_metatags %}
<meta name="keywords" content="{{entry.tags.all|join:","}}"/>
<meta name="description" content="{{entry.get_brief|remove_linebreaks}}" />
{%endblock%}


{% block title %}The Church of Horrors :: {{entry}}{%endblock%}

{% block author %}{% mini_author entry.author %}{% endblock %}

{%block breadcrumb%}{% breadcrumb request.get_full_path entry.section entry.subsection %}{%endblock%}

{%block content_class%}entry{%endblock%}

{%block content%}
    {%if entry.author.id == request.user.id%}<a href="{% url admin:blog_entry_change entry.id %}" onclick="window.open(this.href);return false;" class="edit">Editar</a>{%endif%}
    <br/>
    <h1>{{entry.title}}</h1>
    <span class="date">{{entry.created|date}}</span>
    <div class="content-entry">{{entry.content|safe}}</div>
    <!--<hr/>-->
{%endblock%}
