{% extends "base.html" %}
{% load blog %}

{% block extra_metatags %}
<meta name="keywords" content="{{entry.tags.all|join:","}}"/>
<meta name="description" content="{{entry.get_brief|remove_linebreaks}}" />
{%endblock%}

{% block title %}The Church of Horrors :: {{entry}}{%endblock%}

{% block author %}{% mini_author entry.author %}{% endblock %}

{%block breadcrumb%}{% breadcrumb request.get_full_path entry.section entry.subsection %}{%endblock%}

{%block content_class%}entry{%endblock%}

{%block extra_js%}
<!--<script type="text/javascript" src='{{STATIC_URL}}thechurch/js/jquery.scrollTo-min.js'></script>-->
{%comment%}
<script type="text/javascript">
$(document).ready(function(){
    
    var wrapper = $($('.content-entry')[0]);
    var content = wrapper.find('table');
    var html = wrapper.html();
    wrapper.html('');

    {% if not entry.show_gallery%}
    wrapper.prev().append('<div style="width:100%;height:auto;margin-top:22px;text-align:center;">'+html.substring(0,html.indexOf('<table'))+"</div>");
    {%endif%}
    
    var pages = content.length;
    for (var i=0;i<pages;i++) {
            wrapper.append('<div class="paging-container"><table>'+content[i].innerHTML+'</table></div>');
        }
    
    var width = 730;

        for (var i=0;i<pages;i++) {
            var css = (!i)?"class='current'":"";
            $('#paging').append("<span "+css+" onclick='paging(this,"+(i*width)+");'>"+(i+1)+"</span>");
        }
});
function paging(link,margin) {
    
    if ($(link).hasClass('current'))
        return;
    
    //$(document).scrollTo("#content",{easing:"swing",duration:"slow"});
    $($(".content-entry")[0]).animate({"margin-left":"-"+margin+"px"},'slow','swing');
    $('#paging .current').removeClass("current");
    $(link).addClass("current");
}
</script>
{%endcomment%}
{%endblock%}

{%block content%}
    {%if user.is_superuser or entry.author.id == request.user.id%}<a href="{{entry.get_admin_url}}" onclick="window.open(this.href);return false;" class="edit">Editar</a>{%endif%}
    <br/>
    <a href="{{e.get_absolute_url}}"><h1>{{entry.title}}</h1></a>
    <span class="date">{{entry.created|date}}</span>
    {% if entry.show_gallery%}{%entry_gallery entry%}{%endif%}
    <div class="content-entry">{{entry.content|url_open|safe}}</div>
    <div id="paging"></div>
    <!--<hr/>-->
{%endblock%}
