<script type="text/javascript"> 
function gallery_next() {
    
    clear_autogallery();
    
    var margin = 730;
    var total = parseInt($('#gallery-entry').attr('total'));
    var current = parseInt($('#gallery-entry').attr('current'));
    
    if (current>=total)
        current = 0;
    
    $('#gallery-entry').animate( {"margin-left":(current*margin*-1)+"px"},'slow','swing');
    current++;
    $('#gallery-entry').attr('current',current);
    
    if (current>=total)
        $('#next').fadeOut('slow');
    
    $('#prev').fadeIn('slow');
}
function gallery_prev() {
    
    clear_autogallery()
    
    var margin = 730;
    var total = parseInt($('#gallery-entry').attr('total'));
    var current = parseInt($('#gallery-entry').attr('current'));
    
    if (current>1) {
            current--;
            $('#gallery-entry').animate( {"margin-left":((current-1)*margin*-1)+"px"},'slow','swing');
            $('#gallery-entry').attr('current',current);
            
            if (current<=1)
                $('#prev').fadeOut('slow');
            
            $('#next').fadeIn('slow');
        }
}
function auto_gallery() {
    delete AUTOGALLERY;
    gallery_next();
    AUTOGALLERY = setTimeout("auto_gallery()", 10000);
}
function clear_autogallery() {
    if (typeof AUTOGALLERY != "undefined")
    {
        clearTimeout(AUTOGALLERY);
        delete AUTOGALLERY;
    }
}

document.ready(function(){
    AUTOGALLERY = setTimeout("auto_gallery()", 10000);
});
</script>

{% if images.count > 1 %}
<div id="gallery-entry-wrapper">
    <div id="next" onclick="gallery_next();"></div>
    <div id="prev" onclick="gallery_prev();"></div>
    <div id="gallery-entry" total="{{images.count}}" current="1">
        {% for i in images %}
            <div class="image">
                <img src="{{i}}" alt="{{i.entry.title}}" class="{%if i.adjust%}adjust{%else%}adjust-nofill{%endif%}"/>
            </div>
        {%endfor%}
    </div>
    
</div>
{%else%}
<div style="width:100%;height:{{images.0.file.height}}px;margin-top:22px;">
    <img src="{{images.0}}" alt="{{images.0}}" class="{%if i.adjust%}adjust{%else%}adjust-nofill{%endif%}"/>
</div>
{%endif%}
