{% extends "base.html" %}
{% load blog fb_versions %}

{% block title %}The Church of Horrors{%if section%} :: {{section}}{%endif%}{%if subsection%} :: {{subsection}}{%endif%}{%endblock%}

{%block breadcrumb%}{% breadcrumb request.get_full_path number %}{%endblock%}

{% block extra_js_ready %}
function next(){
    var total = parseInt($("#sitios").attr("total"));
    var idx = parseInt($("#sitios").attr("idx"))+1;
    var w = (!idx)?156:166;

    $("#sitios-slide").animate({"margin-left":(w*idx*-1)+"px"});

    $("#sitios").attr("idx",idx);
    
    if (idx+6>=total)    
        $("#sitios .next").fadeOut();

    $("#sitios .prev").fadeIn()
}
function prev(){
    var total = parseInt($("#sitios").attr("total"));
    var idx = parseInt($("#sitios").attr("idx"))-1;
    var w = (!idx)?156:166;

    $("#sitios-slide").animate({"margin-left":(w*idx*-1)+"px"});

    $("#sitios").attr("idx",idx);
    
    if (idx<=0)    
        $("#sitios .prev").fadeOut();

    $("#sitios .next").fadeIn()
}
{%endblock%}

{%block content_class%}home{%endblock%}

{%block home_gallery%}

{%with number.editorial as e%}
{%if e%}
<div id="gallery-wrapper">
    <div id="gallery">
        <a href="{{e.get_absolute_url}}" title="Ir a Editorial">
                <div class="desc">
                    <div>
                        <span class="overtitle">EDITORIAL</span>
                        <span class="title">{{e}}</span>
                        <span class="brief">{{e.get_brief}}</span>
                    </div>
                </div>
            </a>
        <div class="image">
            <img src="{% version e.get_main_image 'gallery' %}" title="{{e}}" alt="{{e.title}}" class="adjust"/>
        </div>
    </div>
</div>
{%endif%}
{%endwith%}

{%endblock%}

{%block content%}
	{% with number.other_entries as entries%}
    {% include "entries.html" %}
    {%endwith%}
{%endblock%}

{%block prebottom%}
    <div class="clr"></div>
    <div id="sitios" total="{{sitios|length}}" idx="0">
    
    <div class="prev" onclick="prev()"></div>
    <div class="next" onclick="next()"></div>

    <a href="{%url authors%}" class="title" title="Ir a SITIOS">SITIOS</a>

    <div id="sitios-slide">
    {% for s in sitios%}
        <div class="item">
            <div class="img "><a href="{{s.get_absolute_url}}"><img class="adjust-nofill" src="{{s.avatar.url}}" alt='{{author}}'/></a></div>
            <div class="name"><a href="{{s.get_absolute_url}}">{{s}}</a></div>
        </div>
    {%endfor%}
    </div>
    </div>
{%endblock%}