{% extends "base.html" %}
{% load blog %}

{% block title %}The Church of Horrors :: Información{%endblock%}

{%block breadcrumb%}{% breadcrumb request.get_full_path %}{%endblock%}

{%block content_class%}staff{%endblock%}


{%block content%}
<a href="http://thechurchofhorrors.com" title="The Church of Horrors">The Church of Horrors</a> es un webzine cultural, de periodicidad mensual, donde conviven la actualidad y el análisis de todo tipo de propuestas culturales y artísticas; con un tratamiento abierto y cercano al lector.<br/><br/>

    Entre nuestros ideales básicos, se encuentra el interés por fomentar el conocimiento de obras y artistas, compartir aspectos del pensamiento contemporáneo y generar debate alrededor de temas que nos interesan e inquietan. Queremos ofrecer a los lectores contenidos interesantes, con un estilo propio y diferenciado, y que no suelen ser citados por los medios generalistas, relacionados con la música, el arte, la literatura, las ciencias o cualquier otra manifestación de tipo cultural.<br/><br/>

    Estamos realmente interesados en saber qué opináis acerca de los contenidos ofrecidos en la página, por lo que os animamos a comentar y compartir los temas que os resulten atractivos.<br/><br/>

    <a href="http://thechurchofhorrors.com" title="The Church of Horrors">The Church of Horrors</a> está formado por un equipo multidisciplinar de articulistas, crÌticos e ilustradores, destacando la labor de estos últimos que son, en última instancia, quienes dotan de personalidad a la revista. <br/><br/>

    Además, en <a href="http://thechurchofhorrors.com" title="The Church of Horrors">The Church of Horrors</a> no se lleva a cabo ningún tipo de censura, ni se predispone a nadie de la plantilla de colaboradores a que funcione bajo unos ideales preestablecidos. <br/>Nuestros redactores e ilustradores tienen plena libertad a la hora de expresar sus ideas a través de sus obras. Son, por lo tanto, responsables de lo que publican, a la vez que disponen de todos los derechos de sus trabajos. Si tienes interés en compartir un contenido de la web, ponte en contacto con el autor del mismo o con la dirección de la web.<br/><br/>

    Queremos ser el espacio adecuado para la presentación de nuevas propuestas culturales y ser guía para los nuevos creadores. Queremos ser centro de opiniones diversas. Queremos, en difinitiva, ser el lugar de encuentro de toda persona inquieta, crÌtica y reflexiva, que no se conforma con lo que hay, y que busca algo más. <br/>
    Es por eso que apostamos por contenidos propios y originales, frescos y vanguardistas, al alcance de todos.<br/><br/>

   <a href="http://thechurchofhorrors.com" title="The Church of Horrors">The Church of Horrors</a> quiere ser tu revista cultural de referencia.<br/><br/>  

    <strong>¡Bienvenidos a nuestra congregación de los horrores!</strong>
{%endblock%}

