{% extends "base.html" %}
{% load blog %}

{% block title %}The Church of Horrors :: Información{%endblock%}

{%block breadcrumb%}{% breadcrumb request.get_full_path %}{%endblock%}

{%block content_class%}staff{%endblock%}

{%block content%}
<a href="http://thechurchofhorrors.com" title="The Church of Horrors">The Church of Horrors</a> intenta crear un espacio donde convivan diferentes propuestas y estilos artísticos, fomentando a su vez el conocimiento de obras y artistas; cuyo mejor medio de difusión se encuentra en la misma red.<br/>No se trata de un blog de descarga. En cualquier caso, puede contener material multimedia alojado en páginas externas.<br/><br/>

<a href="http://thechurchofhorrors.com" title="The Church of Horrors">The Church of Horrors</a> se muestra a favor de los artistas y en contra de las instituciones que se aprovechan de ellos. No intenta por ningún medio sacar algún beneficio lucrativo a través de la información que se postea en este blog.<br/><br/>

<a href="http://thechurchofhorrors.com" title="The Church of Horrors">The Church of Horrors</a> es una idea de <strong>Miguel Ángel Vázquez Vera</strong>. Las imágenes contienen derechos reservados de los propios autores.<br/><br/>
<br/><br/>
<a href="http://thechurchofhorrors.com" title="The Church of Horrors">The Church of Horrors</a> tries to create a space where coexist different proposals and artistic styles, in turn promoting the knowledge of works and artist; whose best means of dissemination is in the same network.<br/>It is not a blog of downloading. In any case, can contain multimedia material hosted on external websites.<br/><br/>

<a href="http://thechurchofhorrors.com" title="The Church of Horrors">The Church of Horrors</a> is in favor of the artists and against institutions that take advantage of them. Not by any means try to get some lucrative benefit through the information posted in this blog.<br/><br/>

<a href="http://thechurchofhorrors.com" title="The Church of Horrors">The Church of Horrors</a> is an idea from <strong>Miguel Ángel Vázquez Vera</strong>. All images rights by the artists.
{%endblock%}
