{% load fb_versions %}

<div class="short-entry">
    <div class="img"><a href="{{e.get_absolute_url}}" title="{{e.title}}"><img src="{{ e.get_main_image.url }}" class="adjust" title="{{e.title}}" alt="{{e.title}}"/></a></div>
    <div class="desc">
    <span class="title"><a href="{{e.get_absolute_url}}" title="{{e.title}}">{{e.title}}</a></span>
    <span class="info">Por <a href="{{e.author.get_absolute_url}}">{{e.author.get_profile}}</a>, <em>{{e.created|date}}</em>, en <a href="{{e.subsection.get_absolute_url}}">{{e.subsection}}.</a></span>
    <p>{{e.get_brief}}</p>
    
    <a href="{{e.get_absolute_url}}" class="read">Leer</a>
    <a href="{{e.get_absolute_url}}#comments" class="comments">{{e.n_comments}} Comentario{{e.n_comments|pluralize}}</a>
    </div>
    <hr/>
</div>
