<div class="author">
    
    {% with author.get_profile as profile %}
    {% if profile.get_published.count %}

        {%if profile.title%}
        <div class="title"><a href="{{author.get_absolute_url}}">{{profile.title|upper}}</a></div>
        {%endif%}

        <a href="{{author.get_absolute_url}}"><img src="{{profile.avatar.url}}" alt='{{profile}}'/></a>

        <div class="name"><a href="{{author.get_absolute_url}}">{{profile}}</a></div>
    {%else%}
        {%if profile.title%}
        <div class="title">{{profile.title|upper}}</div>
        {%endif%}
        <img src="{{profile.avatar.url}}" alt='{{profile}}'/>
        <div class="name">{{profile}}</div>
    {%endif%}
    
    <div class="desc">{{profile.description|safe}}</div>
    <div class="links sitios">
        <a href="{%url authors%}" title="Ir a Sitios">Ir a Sitios</a>
    </div>

    {%if profile.get_items%}
        <div class="links">
        {%for link in profile.get_items%}<a href="{{link.url}}" onclick="window.open(this.href);return false;">{{link|lower}}</a>{% if not forloop.last %} / {%endif%}{%endfor%}</div>
    {%endif%}

    {%endwith%}
</div>
