{% extends "base.html" %}
{% load blog %}

{% block title %}The Church of Horrors :: Staff{%endblock%}

{%block breadcrumb%}{% breadcrumb request.get_full_path %}{%endblock%}

{%block content_class%}staff{%endblock%}

{%block content%}
<div>
{% for key,value in staffs.items %}
<h3>{{key.1}}{{ value.count|pluralize:"es" }}:</h3>
{% for s in value%}<span onclick="window.location='{{s.get_absolute_url}}';">{{s}}</span> / <a href='mailto:{{s.user.email}}'>{{s.user.email}}</a><br/>{%endfor%}
{% endfor %}
<br/>
Si quieres formar parte del equipor de <a href='http://thechurchofhorrors.com/'>The Church of Horrors</a> ponte en contacto con nosotros y comunicanoslo.
<br/>
<br/>
<a href='http://thechurchofhorrors.com/'>The Church of Horrors</a> magazine es una publicación independiente.
<br/>
<br/>
<a href='http://thechurchofhorrors.com/'>The Church of Horrors</a> no es responsable de las opiniones vertidas pos sus colaboradores.

</div>
<hr/>
{%endblock%}
