{% extends "base.html" %}
{% load blog fb_versions %}

{#{%blog extra_js_ready%}setTimeout(function(){$('#topbanner').hide('slow');},5000);{%endblock%}#}

{% block title %}The Church of Horrors{%if section%} :: {{section}}{%endif%}{%if subsection%} :: {{subsection}}{%endif%}{%endblock%}

{%block breadcrumb%}
    {% if number%}
        {% breadcrumb request.get_full_path number subsection %}
    {%else%}
        {% breadcrumb request.get_full_path "" subsection %}
    {%endif%}
{%endblock%}

{%block content_class%}home subsection{%endblock%}

{%block content%}
    {% include "entries.html" %}
{%endblock%}

