{% load blog fb_versions%}
{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta name="google-site-verification" content="TpuITMzwLc7W8ha_L8d8p7g7fwjCCfRvbGa81RSGZAk" />
<meta name="msvalidate.01" content="A98E9B38B9C1DE9BA4D87BBED4F18D0D" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21826201-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


{%block extra_metatags%}
<meta name="keywords" content="the church of horrors,thechurchofhorrors.com,magazine,cultural,magazine cultural,{{sections|join:','}},{{subsections|join:','}}"/>
<meta name="description" content="The Church of Horrors intenta crear un espacio donde convivan diferentes propuestas y estilos artísticos, fomentando a su vez el conocimiento de obras y artistas; cuyo mejor medio de difusión se encuentra en la misma red." />
<meta property="og:image" content="http://thechurchofhorrors.com{{STATIC_URL}}fblogo.png" />
{%endblock%}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21826201-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<title>{%block title%}{%endblock%}</title> 


<link rel="shortcut icon" href="{{STATIC_URL}}favicon.ico" />

<link rel="stylesheet" href="{% static thechurch/css/style.css %}" type="text/css"/>
<style type="text/css">
{{css}}
</style>
{% block extra_css %}{%endblock%}
<script type="text/javascript" src="{{STATIC_URL}}thechurch/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}thechurch/js/jquery.myimgscale-0.2.min.js"></script>

{% block extra_js %}{%endblock%}

<script type="text/javascript" >
$(document).ready(function(){
    $(".adjust").scaleImage({parent: "div",center: true,scale:"fill"});
    $(".adjust-nofill").scaleImage({parent: "div",center: true,scale:"fit"});

    $("#header #subsections a")
        .hover(function(){ 
            var cls = $(this).attr("class");
            $("#header #subsections").addClass(cls);
        },function(){ 
            var cls = $(this).attr("class");
            $("#header #subsections").removeClass(cls);
        });

    ;(function($) {
    $.fn.textfill = function(options) {
        var fontSize = options.maxFontPixels;
        var ourText = $('a:first', this);
        
        var maxHeight = $(this).height();
        var maxWidth = $(this).width();
        var textHeight;
        var textWidth;
        
        do {
            ourText.css('font-size', fontSize);
            textHeight = ourText.height();
            textWidth = ourText.width();
            fontSize = fontSize - 1;
        } while (textWidth > maxWidth && fontSize > 3);
        return this;
    }
})(jQuery);

$.each( $("#sitios .title,#left div.author .title,.authors .author .title"), function(idx,ui){ $(ui).textfill({ maxFontPixels: 14 }) } );

});

function changetab(self,id) {
    $(".tabs .content").hide();
    $(".tabs .current").removeClass("current");
    $(self).addClass("current");
    $("#"+id).fadeIn()
}
function number_next() {
    var total = parseInt($(".top-left-wrapper").attr("total"));
    var current = parseInt($(".top-left-wrapper").attr("current"));

    if (current>=total)
        return;

    $("#top-left .prev").fadeIn();

    current++;

    $(".top-left-wrapper").animate({"margin-left":current*-1*145+"px"});

    $(".top-left-wrapper").attr("current",current);

    if (current>=total)
        $("#top-left .next").fadeOut();
}
function number_prev() {
    var total = parseInt($(".top-left-wrapper").attr("total"));
    var current = parseInt($(".top-left-wrapper").attr("current"));

    if (current<=0)
        return;

    $("#top-left .next").fadeIn();

    current--;

    $(".top-left-wrapper").animate({"margin-left":current*-1*145+"px"});

    $(".top-left-wrapper").attr("current",current);

    if (current<=0)
        $("#top-left .prev").fadeOut();
}
{% block extra_js_ready %}{%endblock%}
</script>


</head>
<body>

    <map name="map-logo">
        <area shape="poly" coords="25,15,29,22,25,29,21,22" href="/admin/">
    </map> 

    {#<div id="topbanner"></div>#}
    <div id="container">
        <div id="header">
            <a href="/" title="thechurchofhorrors.com"><img src="{{STATIC_URL}}thechurch/images/logo.png" alt="The Church of Horros logo" usemap="#map-logo"/></a>


            <div id="subsections">
                {% for s in subsections %}
                    <a href='{{s.get_absolute_url}}' title="{{s}}" class="{{s.slug}}">{{s}}</a>
                {% endfor %}
            </div>

            <div id="top-left">
                <form action="/" method="GET">
                <input type="submit" id="search-button" value=""/>
                <input type="text" id="search" name="q" placeholder="Buscar..."/>
                </form>


                <div class="top-left-wrapper" total="{{anteriores|length}}" current="0">
                    <div class="item">
                        <span class="actual">ACTUAL</span>
                        <img src="{% version current_number.imagen 'micro' %}" alt="ACTUAL"/>
                        <a class="title" href="{{current_number.get_absolute_url}}" title="{{current_number}}">{{current_number|upper}}</a><br/>
                        <span class="subtitle">{{current_number.get_month_display}} {{current_number.year}}</span>

                        {%with current_number.editorial as e%}
                        <a class="entry" title="{{e}}" href="{{e.get_absolute_url}}">{{e}}</a>
                        {%endwith%}
                    </div>

                    {% for n in anteriores%}
                    <div class="item">
                        <span class="actual">ANTERIOR</span>
                        <img src="{% version n.imagen 'micro' %}" alt="ACTUAL"/>
                        <a class="title" href="{{n.get_absolute_url}}" title="{{n}}">{{n|upper}}</a><br/>
                        <span class="subtitle">{{n.get_month_display}} {{n.year}}</span>

                        {%with n.editorial as e%}
                        {%if e%}
                        <a class="entry" title="{{e}}" href="{{e.get_absolute_url}}">{{e}}</a>
                        {%endif%}
                        {%endwith%}
                    </div>
                    {%endfor%}
                </div>


                <div class="prev" title="Pasar a un número posterior" onclick="number_prev()"></div>
                <div class="next" title="Pasar a un número anterior" onclick="number_next()"></div>
            </div>

            {%comment%}
            <div id="banner" current="0">
                <a href="http://thebloodydirtysanchez.bandcamp.com/" target="_blank" title="http://thebloodydirtysanchez.bandcamp.com"><img src="{{STATIC_URL}}thechurch/images/bloody.jpg"/></a>
                <!--<a href="http://famfest.info/" target="_blank" title="http://famfest.info"><img src="{{STATIC_URL}}thechurch/images/familiar.jpg" style="display:none"/></a>
                <a href="http://www.lowtoy.com/" target="_blank" title="http://www.lowtoy.com"><img src="{{STATIC_URL}}thechurch/images/lowtoy.jpg" style="display:none"/></a>-->
            </div>
            {%endcomment%}
            <div id="sections">
                <a href='/' class="section">ACTUAL</a>

                {#<a href='{{s.get_absolute_url}}' class="section">ANTERIORES</a>#}
                <a href='{% url 'authors' %}' class="section">SITIOS</a>
                
                <a href='http://vimeo.com/thechurchofhorrors' class="social vimeo" target="_blank"></a>
                <a href='https://twitter.com/#!/churchofhorrors' class="social twitter" target="_blank"></a>
                <a href='http://www.facebook.com/TheChurchofHorrors' class="social facebook" target="_blank"></a>
                <a href='{%url 'feed' %}' class="social rss" target="_blank"></a>
            </div>
        </div><!-- #header -->


<div id='ajax-wrapper' class="{%block content_class%}{%endblock%}">

    <div id="content">
        {%block breadcrumb%}{%endblock%}

        {%block home_gallery%}{%endblock%}

        {%block content%}{%endblock%}
        
        {%if paginator.hasprev%}<a href='{{request.path}}{{paginator.prev}}' id="prevpage"><< Publicaciones Posteriores</a>{%endif%}
        {%if paginator.next%}<a href='{{request.path}}{{paginator.next}}' id="nextpage">Publicaciones Anteriores >></a>{%endif%}
        
    </div> <!-- #content -->

    <div id="left">
        {%block sidebar%}{%endblock%}
    </div> <!-- #left -->


    {%block prebottom%}
    {%endblock prebottom%}    

    {%block bottom%}
    {% if number and not entry%}
    <div id="bottom">

        <div class="col tabs">
            <div class="tab current" onclick="changetab(this,'more-view')">+ Leídos</div>
            <div class="tab" onclick="changetab(this,'more-comment')">+ Comentados</div>
            <div class="tab">&nbsp;</div>

            <div class="content" id="more-view">
                {%for entry in number.get_more_view|slice:":5"%}
                    {%include "micro-entry.html" %}
                {%endfor%}
            </div>

            <div class="content" id="more-comment" style="display:none">
                {%for entry in number.get_more_comment|slice:":5"%}
                    {%include "micro-entry.html" %}
                {%endfor%}
            </div>
        </div>

        {%with number.cartoon as cartoon%}
        {%if cartoon%}
        <div class="col cartoon">
                        <a href="{{cartoon.get_absolute_url}}" title="{{cartoon}}">
                <img src="{{ cartoon.get_main_image }}" alt="{{cartoon.title}}"/>
            </a>
        </div>
        {%endif%}
        {%endwith%}

        <div class="col">
            &nbsp;
        </div>

    </div>
    {%endif%}
    {%endblock bottom%}
    
</div> <!-- #ajax-wrapper -->



    </div> <!-- #container -->
    <div id="footer">
        <div id="subfooter-1">
            <div id="subfooter-2">
                <div class="footer-item footer-item-1">
                        
                        <a href="http://thechurchofhorrors.com" class="social logo-social"></a>
                        <a href="/feed/" class="social rss" target="_blank"></a>
                        <a href="http://www.facebook.com/TheChurchofHorrors" class="social facebook" target="_blank"></a>
                        <a href="https://twitter.com/#!/churchofhorrors" class="social twitter" target="_blank"></a>
                        <a href="http://vimeo.com/thechurchofhorrors" class="social vimeo" target="_blank"></a>

                        <div  class="search-form">
                            <form action="/" method="GET">
                            <input type="submit" class="search-button" value=""/>
                            <input type="text" class="search" name="q" placeholder="Buscar..."/>
                            </form>
                        </div>
                </div>
                <div class="footer-item footer-item-2">
                
                    <div class="subitem">    
                        <h3><a href="{%url 'authors'%}">Sitios</a></h3>
                        <hr/>
                        <h3><a href="{% url 'contact' %}?next={{request.path}}">Contacto</a></h3>
                        <h3><a href="{% url 'staff' %}">Staff</a></h3>
                        <h3><a href="{% url 'info' %}">Información</a></h3>
                    </div>

                    <div class="subitem">    
                        <h3>CATEGORÍAS</h3>
                        {% for s in subsections %}
                            <a href='{{s.get_absolute_url}}' title="{{s}}">{{s}}</a>
                        {% endfor %}
                    </div>

                </div>
                <div class="footer-item footer-item-3">
                
                    <div class="subitem" style="margin-right: 5%;">    
                        <h3>ACTUAL</h3>

                        <a class="title" href="{{current_number.get_absolute_url}}" title="{{current_number}}">{{current_number|upper}}</a>
                        <span class="subtitle">{{current_number.get_month_display}} {{current_number.year}}</span>

                        <img src="{% version current_number.imagen 'micro' %}" alt="ACTUAL"/>

                        {%with current_number.editorial as e%}
                        <a class="entry" title="{{e}}" href="{{e.get_absolute_url}}">{{e}}</a>
                        {%endwith%}
                        
                    </div>

                    {% for n in anteriores|slice:":1" %}
                    <div class="subitem anteriores">    
                        <h3>ANTERIORES</h3>

                        <a class="title" href="{{n.get_absolute_url}}" title="{{current_number}}">{{n|upper}}</a>
                        <span class="subtitle">{{n.get_month_display}} {{n.year}}</span>

                        <img src="{% version n.imagen 'micro' %}" alt="Número {{n.number}}"/>
                        
                    </div>
                    {%endfor%}


                    {% for n in anteriores|slice:"1:2" %}
                    <div class="subitem anteriores">    
                        <h3>&nbsp;</h3>

                        <a class="title" href="{{n.get_absolute_url}}" title="{{current_number}}">{{n|upper}}</a>
                        <span class="subtitle">{{n.get_month_display}} {{n.year}}</span>

                        <img src="{% version n.imagen 'micro' %}" alt="Número {{n.number}}"/>
                        
                    </div>
                    {%endfor%}

                </div>
            </div>
            
        </div>
        
        <div id="copyright">&copy; 2013 <a href="/">thechurchofhorrors.com</a></div>
    </div>
</body>

</html>
