{% load blog %}
{% load url from future %}


{% if not request.is_ajax %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{%block title%}{%endblock%}</title> 

<link rel="shortcut icon" href="{{MEDIA_URL}}favicon.ico" />

<link rel="stylesheet" href="{{MEDIA_URL}}css/style.css" type="text/css"/>
{% block extra_css %}{%endblock%}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.myimgscale-0.2.min.js"></script>
{% block extra_js %}{%endblock%}

<script type="text/javascript" >
$(document).ready(function(){

    $(".adjust").scaleImage({parent: "div",center: true,scale:"fill"});
    
    
    
    {% block extra_js_ready %}{%endblock%}
});
</script>

</head>
<body>
    <div id="topbanner"></div>
    <div id="container">
        <div id="header">
            <img src="{{MEDIA_URL}}images/logo.png" alt="The Church of Horros logo" onclick="window.location='/';"/>
            <div id="banner"></div>
            <div id="sections">
                <a href='/' class="section">HOME</a>
                {% for s in sections %}
                <a href='{{s.get_absolute_url}}' class="section">{{s|upper}}</a>
                {% endfor %}
                
                <a href='#' id="vimeo" class="social"></a>
                <a href='#' id="twitter" class="social"></a>
                <a href='#' id="facebook" class="social"></a>
                <a href='#' id="rss" class="social"></a>
            </div>
            <div id="subsections">
                {% if section %}
                    {% for s in subsections %}
                    <a href='{% url 'section_subsection' section=section subsection=s %}'>{{s}}</a>
                    {% endfor %}
                {%else%}
                    {% for s in subsections %}
                    <a href='{{s.get_absolute_url}}'>{{s}}</a>
                    {% endfor %}
                {%endif%}
                <button id="search-button"></button>
                <input type="text" id="search" placeholder="Buscar..."/>
            </div>
        </div>
{% endif %}

<div id="content" class="{%block content_class%}{%endblock%}">
<hr/>
{%block breadcrumb%}{%endblock%}
{%block content%}{%endblock%}
</div>

{% if not request.is_ajax %}
        <div id="left">
        
            {%block author%}<hr/>{%endblock%}
        
            {% if right_entries.0 %}
                    <div class="section">Últimas Publicaciones</div>
                        {% for e in right_entries %}
                            {% preview_entry e forloop.counter%}
                        {% endfor %}
                    <hr/>
            {%else%}
                {% for s,items in right_entries.items %}
                    <div class="section">Últimos {{s|upper}}</div>
                        {% for e in items %}
                            {% preview_entry e forloop.counter%}
                        {% endfor %}
                    <hr/>
                {%endfor%}
            {%endif%}
            </div>
        </div>
    </div>

    <div id="footer">
        <div id="subfooter-1">
            <div id="subfooter-2">
                <div class="footer-item footer-item-1">
                    <h3><a href="{% url 'contact' %}">Contacto</a></h3>
                    <h3><a href="{% url 'staff' %}">Staff</a></h3>
                    <!--<h3><a href="#">Información</a></h3>-->
                </div>
                <div class="footer-item">
                    <h3>Categorías</h3>
                    {% for s in subsections %}
                    <a href="{{s.get_absolute_url}}">{{s}}</a>
                    {%endfor%}
                </div>
                <div class="footer-item">
                    <h3>Secciones</h3>
                    {% for s in sections %}
                    <a href="{{s.get_absolute_url}}">{{s}}</a>
                    {%endfor%}
                </div>
                <!--
                <div class="footer-item">
                    <h3>Archivo</h3>
                    <a href="#">Julio 2011</a>
                    <a href="#">Junio 2011</a>
                </div>
                -->
            </div>
            
        </div>
        
        <div id="copyright"><hr/>Copyright 2011 <a href="#">thechurchofhorros.com</a>. Todos los derechos reservados.</div>
    </div>
</body>
</html>
{%endif%}
