* {margin:0;padding:0;}
body { background-color: #f2f3f5; }
a {text-decoration:none; color:#5889b6;}
img { border:0; }
hr {
    color: #f0bec1 !important;
    background-color: #f0bec1 !important;
    height: 1px !important;
    border: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    display:block !important;
    clear:both !important;
}

@font-face{font-family:DINWeb-Light;src:url("fonts/DINWeb-Light.eot");src:local("DINWeb-Light") url("fonts/DINWeb-Light.ttf") format("truetype");}
@font-face{font-family:DINWeb-Medium;src:url("fonts/DINWeb-Medium.eot");src:local("DINWeb-Medium") url("fonts/DINWeb-Medium.ttf") format("truetype");}
@font-face{font-family:DINWeb-Black;src:url("fonts/DINWeb-Black.eot");src:local("DINWeb-Black") url("fonts/DINWeb-Black.ttf") format("truetype");}
@font-face{font-family:DINWeb-Light;src:url("fonts/DINWeb-Light.woff") format("woff");}
@font-face{font-family:DINWeb-Medium;src:url("fonts/DINWeb-Medium.woff") format("woff");}
@font-face{font-family:DINWeb-Black;src:url("fonts/DINWeb-Black.woff") format("woff");}


#container { width:1030px; margin: 0 auto; height:auto;display:block;overflow:hidden;}
#header { width: 100%; margin: 16px auto 0 auto; display:block;overflow:visible;}
#header a img { float:left; display:block;margin-top:9px;cursor:pointer;}
#header #banner { position:relative;margin-left:20px;height:56px;width:720px;/*background-color:#d10018;*/float:left;display:block;}
#header #banner img {position:absolute;left:0;top:0;}
#header #sections { display:block;margin-top:16px;float:left;width:990px;background-color:#e2e2e2;padding: 8px 20px;}
#header #sections .section { display:block; background-color:black; color:white; float:left; padding:5px 14px;margin-right:8px;text-decoration:none; font-family:helvetica,sans-serif;font-weight:normal;font-family:"DINWeb-Medium",Arial;height:26px;}
#header #sections .social {display:block;width:37px;height:37px;float:right;background-image:url('../images/social.png');background-repeat: no-repeat;margin-left:8px}
.rss {background-position: 0px 0px !important;}
.facebook {background-position: -45px 0px !important;}
.twitter {background-position: -90px 0px !important;}
.vimeo {background-position: -135px 0px !important;}
.logo-social {background-position: -180px 0px !important;width: 55px!important;}
#header #subsections {
    width:145px;
    border-top:2px solid black;
    float:right;
    margin-right:24px;
    padding-top:5px;
}

#header #top-left {
    width:145px;
    float:right;
    margin-right:24px;
}

#header #top-left form {
    overflow: hidden;
}

#header #top-left div {
    border-top:2px solid black;
    margin-top:8px;
    padding:8px 0 0 0;
    position:relative;
    overflow: hidden;
}

#header #top-left div .actual {
    width:100%;
    font-family:"DINWeb-Medium",Arial;
    text-align:left;
    font-size:17px;
    display:block;
}

#header #top-left div a,#header #top-left div .subtitle {
    font-family: verdana;
    font-size:13px;
    max-width: 80px;
}

#header #top-left div .subtitle {
    font-size:10px;
    color:#d20c24;
}

#header #top-left div .entry {
    color:#9d9fa1;
    font-size: 11px;
    position:absolute;
    bottom:0;
    left:0;
    text-overflow: ellipsis;
    overflow: hidden;
}

#header #top-left div img {
    float:right;
}

#header #subsections .subsection {
    height:auto;
    display:block;
    float:left;
    overflow:visible;
    position:relative;
}

#header #subsections .subsection div {
    float:none;
    font-style:italic;
    overflow:visible;
}

#header #subsections .subsection .tags {
    position:absolute;
    top:24px;
    left:0;
    display:none;
    z-index:20;
    white-space:nowrap;
}

#header #subsections .subsection .tags a {
    padding:6px 8px;
}

#header #subsections .subsection:hover .tags {
    display:block;
    overflow:visible;
}

#search {
    border:0;
    background-color:white;
    float:left;
    height:20px;
    color:gray;
    font-family:verdana,sans-serif;
    font-size:10px;
    width: 120px;
    padding: 5px;
    }
#search-button {
    border:0;
    background-image:url('../images/lens.png');
    float:right;
    height:20px;
    width:20px;
    cursor:pointer;
    }
#header #subsections a { color:black;float:right;clear:both;text-align:right;display:block;width:100%;text-transform:uppercase;font-family:verdana,sans-serif;font-size:10px; line-height:13px;}
#header #subsections a:hover { text-decoration: underline; }
a:hover { color:#d10019; }

#left {
    width:313px;
    display:block;
    float:right;
    /*border:1px solid green;*/
    margin-top:48px;
    background-color: #f2f3f5;
    z-index:1;
}

#related {
    width:100%;
    padding:0;
}

#left div, #related div {
    height:172px;
    display:block;
    float:left;
    margin-bottom:16px;
    overflow:hidden;
}


#related div {
    margin-right:21px;
}


#left div.section,#related div.section {
    background:transparent url('../images/bullet.png') no-repeat left 6px;
    font-family:"DINWeb-Medium",Arial;
    font-size:14px;
    padding-left: 10px;
    margin-top:6px;
    height:auto;
    width:auto;
}

#related div.section {
    margin-top:16px;
}

#related div.section {
    display:block;
    width:100%;
}

#left div .title, #related div .title {
    font-family:verdana,sans-serif;
    font-size:12px;
    color:#5889b6;
    font-weight:normal;
    margin:0 !important;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;        
    height: auto !important;
}
/*#left div .title a {
    overflow: hidden;
    white-space:nowrap;
    text-overflow:clip;
}*/
#left div .author, #related div .author {
    font-family:verdana,sans-serif;
    font-size:10px;
    color:#808184;
    font-weight:normal;
    display:block;
}
#left div .date, #related div .date {
    font-family:verdana,sans-serif;
    font-size:10px;
    color:#808184;
    font-weight:normal;
    font-style:italic;
    display:block;
}

#left div div, #related div div {
    height:105px;
    width:100%;
    margin:0;
    margin-bottom:16px;
}

#content { display:block;float:left;width:100%;height:auto;overflow:hidden;}

.home.author #content {
    width:652px;
}

.home .long-entry { float:left;height:200px; padding: 16px 0; width:100%; position:relative;clear:both;}
.home .long-entry .img { float:left;width:420px;height:200px; margin-right:22px;}
.home .long-entry .desc { float:right;height:200px;width:288px; }
.home .long-entry .title {
    font-family:verdana,sans-serif;
    font-size:12px;
    color:#5889b6;
    font-weight:normal;
    display:block;
}
.home .long-entry .info {
    font-family:verdana,sans-serif;
    font-size:10px;
    color:#808184;
    font-weight:normal;
    display:block;
}
.home .long-entry .read {
    font-family:verdana,sans-serif;
    font-size:10px;
    position:absolute;
    bottom:16px;
    left:442px;
}
.home .long-entry .comments {
    font-family:verdana,sans-serif;
    font-size:10px;
    position:absolute;
    bottom:16px;
    left:645px;
}
.home .long-entry p {
    font-family:verdana,sans-serif;
    font-size:10px;
    color:black;
    margin-top:12px;
    letter-spacing:0.05em;
    /*text-align:justify;*/
}
.home .short-entries { padding-top:16px; display:block;float:left;}
.home .short-entry { float:left;width:314px;height:262px; position:relative;border-bottom:3px solid #d10019;margin-top:32px;}
.home .short-entry.odd { margin-right:24px;}
.home .short-entry .img { float:left;width:314px;height:128px; }
.home .short-entry .desc { float:right;height:177px;overflow:hidden; padding:10px;background:white;overflow: hidden;
    text-overflow:ellipsis;display:block;width:294px;}
.home .short-entry .title {
    height: auto;
    color: #5889b6;
    font-family: verdana;
    font-size: 18px;
    overflow: hidden;
}
.home .short-entry .info {
    font-family:"DINWeb-Medium",Arial;
    font-size:12px;
    color:#d30b23;
    font-weight:normal;
    display:block;
}
.home .short-entry p {
    font-family:verdana,sans-serif;
    font-size:10px;
    color:gray;
    margin-top:12px;
    letter-spacing:0.05em;
    overflow:hidden;
    height: 60px;
    overflow:hidden;
    text-overflow:ellipsis;
    /*text-align:justify;*/
}
.home .short-entry .read {
    font-family:verdana,sans-serif;
    font-size:10px;
    position:absolute;
    bottom:30px;
    left:0px;
}
.home .short-entry .comments {
    font-family:verdana,sans-serif;
    font-size:10px;
    position:absolute;
    bottom:30px;
    left:269px;
}
.home .short-entry hr {
    margin:16px 0;
}

#footer {
    position:relative;
    margin-top:30px;
    margin:30px auto 0 auto;
    /*bottom:0px;*/
    height:190px;
    width:100%;
    /*width:980px;*/
    background-color:#404042;
    text-align:center;
}

#footer .search {
    border:0;
    background-color:white;
    float:left;
    height:20px;
    color:gray;
    font-family:verdana,sans-serif;
    font-size:10px;
    width: 142px;
    padding: 5px;
    }
#footer .search-form {
    position: relative;;
    display: block;
    overflow: hidden;
    clear:both;
    margin-left: 67px;
    width:167px;
    padding-top: 10px;
}
#footer .search-button {
    border:0;
    background-image:url('../images/lens.png');
    float:right;
    height:20px;
    width:20px;
    cursor:pointer;
    }

#footer #subfooter-1 {
    display:block;
    clear:both;
    position:absolute;
    height:auto;
    width:100%;
    top:0px;
}

#footer #subfooter-2 {
    height:auto;
    width:990px;
    margin:0 auto ;
    display:block;
    clear:both;
    position:relative;
    overflow: hidden;
}

#footer .footer-item {
    height:100%;
    width:314px;
    float:left;
    padding-top:15px;
    text-align:left;
    margin-bottom:10px;
    position:relative;
    margin-right: 24px;
}

#footer .footer-item:last-child {
    margin-right: 0;   
}

#footer .footer-item .social {display:block;width:37px;height:37px;float:left;background-image:url('../images/social.png');background-repeat: no-repeat;margin-right:8px}

#footer .footer-item {
    color:#a6a7ab;
    font-size:10px;
    font-family:verdana;
}
#footer .footer-item table {
    border-collapse:collapse;
}
#footer .footer-item td {
    padding-right:10px;
    white-space:nowrap;
    font-size:10px;
    font-family:verdana;
    
}

#footer .footer-item h3 {
    margin-bottom:3px;
    color:white;
    font-family:"DINWeb-Medium",Arial;
}
#footer .footer-item a {
    display:block;
    margin-bottom:3px;
    text-transform: uppercase;
}
#footer .footer-item h3 a {
    color:white;
}
#footer .footer-item ul {
    list-style-type:none;
}
#footer .footer-item .subitem {
    width:40%;
    overflow: hidden;
    margin-right: 10%;
    float: left;
    position: relative;
}

#footer .footer-item-3 img {
    float:left;
}

#footer .footer-item-3 a {
    margin:0;
}

#footer .footer-item-3 .title {
    font-family: verdana;
    font-size: 13px;
}

#footer .footer-item-3 .entry {
    color: #9d9fa1;
    font-size: 11px;
    float:right;
    text-align: left;
    text-transform: none;
    max-width: 58px;
    margin-left: 5px;
    margin-top: 10px;
}
#footer .footer-item-3 .subtitle {
    font-family: verdana;
    font-size: 10px;
    color: #d20c24;
    display:block;
}


#footer .footer-item-2 hr {
    color: white !important;
    background-color: white !important;
    height: 2px !important;
    border: 0 !important;
    margin:10px auto !important;
}
#footer .footer-item-1 a {
    color:#a6a7ab;
}
#footer .footer-item-1 h3 {
    margin-bottom:18px;
}
#footer hr {
    color: #98999b !important;
    background-color: #98999b !important;
    height: 2px !important;
    border: 0 !important;
    width: 980px !important;
    margin:5px auto !important;
}
#footer #copyright
{
    margin:0 auto;
    color:white;
    font-size:10px;
    font-family:verdana;
    width:100%;
    display:block;
    position:absolute;
    bottom:0px;
    text-align:center;
    padding-bottom:10px;
}

#left div.author {
    /*margin-top:6px;*/
    height:auto;

    padding:16px 12px 16px 12px;
    background-color: white;
    position: relative;
}

#left div.author span {
    display:block;
    background:transparent url('../images/bullet.png') no-repeat left 6px;
    font-family:"DINWeb-Medium",Arial;
    font-size:14px;
    padding-left: 10px;
    margin-top:6px;
    height:auto;
    width:100%;
    margin-bottom:10px;
}

#left div.author .name {
    margin-bottom:10px;
}

#left div.author .name,#left div.author .name a {
    display:block;
    color: #d10019;
    font-family:"DINWeb-Medium",Arial;
    font-size:18px;
    height:auto;
    width:138px;
}
#left div.author .desc {
    display:inline;
    font-family:verdana;
    font-size:10px;
    height:auto;
    width:106px;
    margin:0;
    color:black;
}

#left div.author .links {
    height:auto;
    width:100%;
    font-family:verdana;
    font-size:10px;
    margin:0;
    padding-top: 16px;
    text-align: right;
}

#left div.author img {
    display:block;
    width:130px;
    height:auto;
    /*margin-left: -10px;*/
    float:left;
    margin-right:20px;
    /*margin-bottom:10px;*/
}

.entry #content {
    width:650px;
}

.entry h1 {
    font-family:verdana;
    font-size:18px;
    color:#5889b6;
    font-weight:normal;
    margin-bottom: 16px;
}

/*
.entry {
    text-align:justify;
}*/

.entry .date {
    font-family:verdana;
    font-size:10px;
    color: #808183;
}

.entry blockquote {
    font-family:verdana;
    font-size:14px;
    color: #808183;
    margin:10px 0;
}

.entry .content-entry {
    font-family:verdana !important;
    font-size:10px !important;
    color: black !important;
    height:auto;
    /*width:10000px;*/
    overflow:hidden;
    background-color: white;
    padding:20px 15px;
    position: relative;
}

.entry .image-entry {
    width:100%;
}

.entry .content-entry .paging-container {
    width:100%;
    display:block;
    width:730px;
    float:left;
    height:100%;
    overflow:hidden;
}

.staff div,.contact div {
    margin:0 0 15px 0;

}

.staff div span {
    cursor:pointer;
}

.staff,.contact {
    font-family:verdana !important;
    font-size:10px !important;
}

.error {
    font-family:verdana;
    font-size:18px;
    color:black;
    font-weight:normal;
}

.error p {
    padding:20px;
}

.staff h3 {
    margin:15px 0 0 0;
    padding:0;

    color:#d2001b;
    font-weight:bold;
}

.contact div {
    width:610px;
    overflow:hidden;
}

.contact input[type=text],.contact textarea {
    background-color:white;
    border:none;
    display:inline-block;
    clear:left;
    margin-top:7px;
    border:1px solid white;
}

.contact input[type=text] {
    margin-right:23px;
}

.contact input[type=submit] {
    background-color:black;
    color:white;
    float:right;
    border:none;
    height:35px;
    width:105px;
    font-size:15px;
    cursor:pointer;
}

.contact textarea {
    width:608px;
    height:150px;
    resize:none;
    margin-bottom:7px;
}

.contact span {
    color: #808184;
}

.contact .error {
    border:1px solid red !important;
}


#paging {
    float:right;
    margin-top:20px;
}
#paging span {
    cursor:pointer;
    color:#5889b6;    
    font-family:verdana;
    font-size:10px;
    margin-left:5px;
}
#paging .current {
    color:#d10019 !important;
    font-weight:bold !important;
    cursor:default !important;
}

.entry div.column { padding-right:10px; }

.entry p strong {
    font-weight:bold;
}

.entry p {
    font-family:verdana;
    font-size:10px;
    color: black;
    margin:0;
    padding:0;
    text-align:left;
}

.entry .edit {
    font-size:10px;
    font-family:verdana;
    top: 0;
    right: 0;
    padding: 4px;
    position: absolute;
}

.entry .content-entry hr {
    margin:15px auto;
}

.entry table {
    width:730px !important;
    vertical-align: text-top ; 
    /*height:450px !important;
    max-height:450px !important;*/
    overflow:hidden  !important;
    display:block;
    text-align:center;
}
.entry td {
    vertical-align: text-top; 
    padding:0;
    padding-right:30px;
    width:50%;
}

.entry td:nth-child(2n+1) {
    padding-left: 0 !important;
    padding-right: 15px !important;
}
.entry td:nth-child(2n) {
    padding-left: 15px !important;
    padding-right: 0 !important;
}

#breadcrumb {
    font-family:verdana,sans-serif;
    font-size:10px;
    color:white;
    font-weight:normal;
    display:block;
    margin: 15px 0;
    display:block;
    overflow: hidden;
}

#breadcrumb .item {
    padding:3px;
    background-color: #404041;
    float:left;
    display:block;
    overflow: hidden;
    height:12px;
    padding-right:18px;
}

#breadcrumb .item a {
    color:white;
}

#breadcrumb .item a:hover {
    color:white;
}

#breadcrumb .arrow {
    width: 0px;
    height: 0px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 9px solid #404041;
    float:left;
}


#topbanner {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:30px;
    background:#d10018 url('../images/under-construction.png') no-repeat center top;
    /*display:none;*/
    filter:alpha(opacity=75);
	opacity:.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
    z-index:999;
}

#gallery-wrapper {
    display:block;
    width:100%;
    /*height:400px;*/
    height:325px;
    background:white url('../images/gallery-background.png') repeat left top;
    position:relative;
}

#gallery {
    display:block;
    width:100%;
    height:325px;
}

#gallery .image,#gallery-entry .image {
    display:block;
    position:relative;
    width:100%;
    height:100%;
    float:left;
    text-align:left !important;
}
#gallery .image img{
    margin-left:0 !important;
}

#gallery .desc {
    display:block;
    position:absolute;
    width:338px;
    height:100%;
    right:0;
    z-index:10;
    background-color: #404041;
    /*background:url('../images/background-gallery-desc.png');
    filter:alpha(opacity=75);
	opacity:.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
    overflow:hidden;
    text-overflow:ellipsis;
}

#gallery .desc div {
    position:absolute;
    bottom:0;
    height:auto;
    overflow: hidden;
    display: block;
    padding:20px 20px 40px 40px ;
}

#gallery .desc .title {
    width:100%;
    height:auto;
    color:#5889b6;
    font-family:verdana;
    font-size:18px;
    overflow: hidden;
    /*white-space:nowrap;*/
    /*text-overflow:ellipsis;  */
}

#gallery .desc .overtitle {
    font-family: "DINWeb-Medium",Arial;
    display:block;
    width:100%;
    height:auto;
    font-size: 12px;
    color: #808184;
    margin-bottom: 5px;
}

#gallery .desc .brief {
    display:block;
    width:100%;
    height:auto;
    color:white;
    font-family:verdana;
    font-size:11px;
    overflow: hidden;
    text-overflow:ellipsis;  
    margin-top:10px;

}

#gallery-wrapper #next,#gallery-entry-wrapper #next {
    width:23px;
    height:23px;
    background:url('../images/gallery-sprites.png') 0 0 no-repeat;
    position:absolute;
    right:14px;
    bottom:14px;
    cursor:pointer;
    z-index:999;
    filter:alpha(opacity=70);
	opacity:.70;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /*--IE 8 Transparency--*/
}

#gallery-wrapper #prev,#gallery-entry-wrapper #prev {
    width:23px;
    height:23px;
    background:url('../images/gallery-sprites.png') -23px 0 no-repeat;
    position:absolute;
    left:14px;
    bottom:14px;
    cursor:pointer;
    z-index:999;
    display:none;
    filter:alpha(opacity=70);
	opacity:.70;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /*--IE 8 Transparency--*/
}

#gallery-entry-wrapper {
    display:block;
    width:100%;
    height:420px;
    background:white url('../images/gallery-background.png') repeat left top;
    margin:17px auto;
    position:relative;
}

#gallery-entry {
    display:block;
    width:100000px;
    height:420px;
}

#ajax-logo {
    display:none;
}

#ajax-wrapper { display:block;float:left;width:990px;height:auto;padding:23px;padding-top: 0}

#prevpage,#nextpage {
    float:left;
    font-family:verdana,sans-serif;
    font-size:10px;
    font-weight:normal;
    margin-top:14px;
}
#nextpage {
    float:right;
}

#waitmask {
    position:fixed;
    width:100%;
    height:100%;
    z-index:10;
    cursor:wait;
}

#share {
    width:auto;
    height:auto;
    display:block;
    overflow:hidden;
    float:right;
    margin:10px 0;
}

#share div {
    float:right;
}

#comments {
    overflow:hidden;
    width:610px;
    margin-top:15px;
    margin-left:3px;
    font-family:Verdana;
    font-size:10px;
}

#comments .title {
    background: transparent url('../images/bullet.png') no-repeat left 6px;
    font-family: "DINWeb-Medium",Arial;
    font-size: 14px;
    padding-left: 10px;
    margin-top: 6px;
    height: auto;
    width: auto;
    color:black;
}

#comments input[type=text],#comments textarea {
    background-color:white;
    border:none;
    display:inline-block;
    clear:left;
    margin-top:7px;
    border:1px solid white;
}

#comments input[type=text] {
    margin-right:23px;
}

#comments input[type=submit] {
    background-color:black;
    color:white;
    float:right;
    border:none;
    height:35px;
    width:105px;
    font-size:15px;
    cursor:pointer;
}

#comments textarea {
    width:608px;
    height:85px;
    resize:none;
    margin-bottom:7px;
}

#comments span {
    color: #808184;
}

#comments .error {
    border:1px solid red !important;
}

#comments .noapproved,#comments .errorlist {
    color:red;
}

#comments .comment {
    width:100%;
    margin:10px 0;
}

#comments .content {
    padding:10px;
    display:block;
    background-color:#fafbfd;
    margin:5px auto;
    width:90%;
}

#comments img {
    display:block;
}

#comments label {
    display:none;
}
