Hola!

Se acaba de crear tu cuenta en http://thechurchofhorrors.com el nombre
de usuario es {{user}} y la contraseña {{passwd}}, lo primero que debes hacer es ir a
http://thechurchofhorrors.com/admin/password_change/ y cambiarla.

Para empezar puedes ir dándote una vuelta por la plataforma, la
administración se encuentra en http://thechurchofhorrors.com/admin/.
Puedes ir probando a crear una entrada, existen diferentes plantillas
que puedes usar.

También es muy importante que rellenes tu perfil, lo encontrarás en
http://thechurchofhorrors.com/admin/userprofile/userprofile/add/

Abajo, en esta misma página encontrarás un campo que se llama "profile
items" serán los enlaces que se muestren debajo de tu foto en la
plataforma, un ejemplo: Nombre para mostrar: twitter y Url:
http://twitter.com/dugo
Será para mi perfil de twitter. Puedes añadir tantos como quieras.

Si te fijas, este correo te ha llegado a tu dirección
@thechurchofhorrors.com, puedes empezar a usarla desde ya y asociarla
a tu correo para enviar emails desde ella (esto dependerá de si usas
Gmail, Hotmail, etc)

Por último decirte que para cambiar tu nombre de usuario tienes que
perdirlo a dirección, info@thechurchofhorrors.com

En breve dispondremos de más instrucciones.


Rubén Dugo

Responsable Técnico 
